.sprint-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.sprint-table th, .sprint-table td {
    padding: 10px;
    border-right: none; /* Remove the right-side border */
    border-left: none; 
    border-bottom: 2px solid white;
    text-align: left;
}

/* THIS IS THE HEADER*/ 
.sprint-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.sprint-table tbody tr {
    background-color: #5080CE; /* Blue color */
}

/* Set specific width for the column containing buttons */
.sprint-table td.actions-column {
    width: 300px; /* Adjust the width as needed */
}

/* THIS WHOLE SECTION IS FOR THE BUTTON COLOUR*/

.view-sprint-btn,
.edit-sprint-btn,
.delete-sprint-btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}


/* THIS WHOLE SECTION IS FOR THE BUTTON COLOUR*/
.view-sprint-btn {
    background-color: #1d33dd; /* Blue for View */
}

.edit-sprint-btn {
    background-color: #FF8800; /* Orange for Edit */
}

.delete-sprint-btn {
    background-color: red; /* Red for Delete */
}

.view-sprint-btn:hover,
.edit-sprint-btn:hover,
.delete-sprint-btn:hover {
    opacity: 0.8;
}


/* THIS WHOLE SECTION IS FOR THE STATUS TEXT COLOUR*/
.status-text {
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px; /* Default stroke width */
}

.status-finished {
    -webkit-text-stroke-color: #f0b27a; /* Orange outline */
}

.status-active {
    -webkit-text-stroke-color: #00FF09; /* Green outline */
}

.status-not-active {
    -webkit-text-stroke-color: #EF15CA; /* Red outline */
}