.time-range-filter {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* This will align the feature to the right */
    margin-bottom: 20px; /* Spacing from the table */
}

.time-range-filter label {
    margin-right: 10px;
    font-size: 16px;
}

.time-range-filter input {
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 150px; /* Add this line to change the width */
}

.time-range-filter button {
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.time-range-filter button:hover {
    background-color: #45a049;
}
